<div class="col-flex card">
  <h1 class="card-title">Sugesstion</h1>
  <div class="col-flex contentContainer">
    <img class="avatarImg centerSelft" src="https://pbs.twimg.com/profile_images/926475544371384320/PwyaFeUl.jpg">
    <div class="col-flex centerSelft">
      <div class="userBox">
        <div>
                  <span class="username">
                    MrSolarius
                  </span>
        </div>
        <div class="col-flex">
                  <span class="login">
                    @MrSolarius
                  </span>
        </div>
      </div>
    </div>
    <div class="centerSelft" style="margin-left:auto;">
      <button class="btnSecondary">Suivre</button>
    </div>
  </div>
</div>