<div class="flew">
  <div class="topbar">
    <h1>Abonement</h1>
  </div>
  <div class="defilable-thread">

  <% @tweets.each do |tweet| %>
      <%= render 'component/tweet', tweet: tweet %>
  <% end %>
  </div>
</div>