<div class="flew">
  <div class="topbar">
    <h1>Acceuil</h1>
  </div>
  <div class="defilable-thread">

  <% @tweets.each do |tweet| %>
    <%= render 'component/tweet', tweet: tweet %>
  <% end %>

  <%= link_to 'New Tweet', new_tweet_path %>

  </div>
</div>