<div class="grid grid-cols-1 md:grid-cols-2 w-screen h-screen bg-img bg-red-planet">
  <div class="items-center justify-center">
    <div style="height: 100%;align-items: center;display: flex;">
      <div style="background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.1) 90%, rgba(255,255,255,0) 100%); width: 100%;">
        <div class="md:p-20 p-5">
          <div id="oktoContainer" class="oktoLogo">
            <svg id="oktotweet" data-name="OktoTweet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132.9 116.98">
              <title>OktoTweet</title>
              <path id="rightTentacle" d="M45.13,49.78c0-5.79-.05-10.65,0-15.52.15-12.89,9.44-22.55,21.6-22.53,12.42,0,21.72,9.73,21.77,22.79,0,11.5-.06,23,0,34.49.1,13,10.28,23,22.82,22.64,12.94-.42,22.47-11.4,21.45-24.7C131.83,54,117.89,44.1,105.67,48c0,2.59,0,5.32,0,8,0,1.11.11,2.21.16,3.31a45.52,45.52,0,0,1,4.61-.61,10.34,10.34,0,0,1,10.78,8.9A10.75,10.75,0,0,1,113.8,79.6c-7,2.15-13.73-3-13.8-10.94-.1-11.87.17-23.75-.09-35.61C99.6,19,92.83,8.61,80,3s-25-3.43-35.53,5.82c-10,8.75-11.66,20.44-10.86,32.84a3,3,0,0,0,1.2,2.11C38,45.75,41.21,47.53,45.13,49.78Z"/>
              <path id="leftTentacle" d="M33.54,69.52c-.42,1.49-.64,2.46-1,3.39a10.92,10.92,0,0,1-12.09,7.26A10.92,10.92,0,1,1,27,59.57c6.9,3.44,13.41,7.68,20.13,11.48,1,.55,2.48,1.18,3.29.8,3.46-1.6,6.75-3.57,10.5-5.62-8-4.91-15.55-9.59-23.18-14.06a45.52,45.52,0,0,0-8.82-4A22.05,22.05,0,0,0,1.59,61,22.41,22.41,0,0,0,12.37,89.35a22.34,22.34,0,0,0,29-8.73c3-5.1,3-5.1-2.32-8Z" transform="translate(0 0)"/>
              <path id="bottomTentacle" d="M82.9,59.76C75.07,64,67.5,68.05,60,72.24a58.82,58.82,0,0,0-6.49,4.41c-6.6,4.94-9.61,11.6-9.11,19.81a22.17,22.17,0,0,0,41.73,8.69,21.68,21.68,0,0,0-4-26l-10.06,6a23.69,23.69,0,0,1,3,2.61,10.48,10.48,0,0,1,1.67,10.92,10.12,10.12,0,0,1-8.27,6.74c-5.51.81-10.11-1.78-12.07-6.66a10.61,10.61,0,0,1,4.1-13.17C66.89,81.57,73.63,78,80.15,74.12c1.13-.68,2.52-2,2.63-3.09C83.12,67.46,82.9,63.84,82.9,59.76Z"/>
              <path id="rightEye" d="M75.71,40.3a5.36,5.36,0,0,0,5.49-5.42,5.49,5.49,0,0,0-5.32-5.63,5.7,5.7,0,0,0-5.76,5.66A5.53,5.53,0,0,0,75.71,40.3Z"/>
              <path id="leftEye" d="M57.73,40.3A5.38,5.38,0,0,0,63.37,35a5.49,5.49,0,0,0-5.53-5.79,5.55,5.55,0,0,0-5.47,5.51A5.38,5.38,0,0,0,57.73,40.3Z"/>
            </svg>
          </div>
          <h1 class="oktoTitle xl:text-6xl md:text-2xl text-3xl lg:text-4xl">OktoTweet</h1>
          <h2><%=session[:current_user_id] %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="scrolling p-5 md:p-10 lg:p-20 bg-dark md:rounded-l-3xl rounded-t-3xl">
    <h1>Se connecter !</h1>
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-1 xl:grid-cols-2 grid-cols-1 mt-5">
        <% @users.each do |user| %>
          <%= render 'component/profile_bubble', user: user, login:true, user_auth: nil, follow_box: false  %>
        <% end %>
      </div>
    <br>
      <button class="modal-open slideButton" style="width: 12rem">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">S'enregistrer</span>
      </button>
    <br>
  </div>
</div>

<%= render 'modal_form', user: @user %>