<div class="grid grid-cols-1 md:grid-cols-2 w-screen h-screen bg-img bg-red-planet">
  <div class="items-center justify-center">
    <div style="height: 100%;align-items: center;display: flex;">
      <div style="background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.1) 90%, rgba(255,255,255,0) 100%); width: 100%;">
        <div class="md:p-20 p-5">
          <img class="oktoLogo" src="<%= image_path("oktotweet.svg") %>">
          <h1 class="oktoTitle xl:text-6xl md:text-2xl text-3xl lg:text-4xl">OktoTweet</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="scrolling p-5 md:p-10 lg:p-20 bg-dark md:rounded-l-3xl rounded-t-3xl">
    <h1>Se connecter !</h1>
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-1 xl:grid-cols-2 grid-cols-1 mt-5">
        <% @users.each do |user| %>
          <%= render 'component/profile_bubble', user: user %>
        <% end %>
      </div>
    <br>
      <button class="modal-open slideButton" style="width: 12rem">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">S'enregistrer</span>
      </button>
    <br>
  </div>
</div>

<%= render 'modal_form', user: @user %>