<div class="col-flex contentContainer">
  <a href="<%=url_for(controller: :tweets, action: 'hashtag', hashtag: tag.name) %>">
    <div class="col-flex centerSelft">
      <div class="userBox">
        <div>
            <span class="username">
              #<%= tag.name %>
            </span>
        </div>
        <div class="col-flex">
            <span class="login">
              <%= tag.tweets.count %> tweets
            </span>
        </div>
      </div>
    </div>
  </a>
</div>