/* app/javascript/stylesheets/application.scss */

/* FontAwesome */
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';


/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Component */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #cc0000;
}