#oktotweet{
  stroke: white;
  stroke-dasharray: 10;
  animation: Anim 10s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  fill: rgba(0,0,0,0);
  &:hover{
    animation: Anim 10s ease-in;
  }
}
@keyframes Anim {
  to{
      stroke-dasharray: 1000;
      fill: #FE0134;
      stroke: rgba(0, 0, 0, 0);
  }
}