// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'vars';

.profileShow{
  display: flex;
  flex-direction: row;
  padding: 10pt 40pt;
  border-bottom: $border solid 1px ;
  flex-grow: 1;
  @media only screen and (max-width: $md){
    padding: 10pt;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center !important;

    .profileInfoConainer{
      margin-left: 0 !important;
    }

    .topProfileContainer{
      align-ite
      .topProfileContainer{
        display: flex;
        flex-direction: column;
        img{
          border-radius: 40%;ms: center;
      width: 100%;
    }
  }
      aspect-ratio: 1/1;
      width: 200pt;
    }
    button{
      width: auto;
      height: max-content;
      align-self: center;
      margin-top: 20pt;
    }
  }
  .profileInfoConainer{
    flex-grow: 1;
    margin-left: 1rem;
    h1{
      margin: 0px;
      margin-block: 0 !important;
    }
  }
}