// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'vars';

.profile {
  .profileShow {
    display: flex;
    flex-direction: row;
    padding: 10pt 40pt;
    flex-grow: 1;
    @media only screen and (max-width: $md) {
      padding: 10pt;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      text-align: center !important;

      .profileInfoConainer {
        margin-left: 0 !important;
      }

      .topProfileContainer {
        align-items: center;
        width: 100%;
      }
    }

    .topProfileContainer {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 40%;
        aspect-ratio: 1/1;
        width: 200pt;
      }

      button {
        width: auto;
        height: max-content;
        align-self: center;
        margin-top: 20pt;
      }
    }

    .profileInfoConainer {
      flex-grow: 1;
      margin-left: 1rem;

      h1 {
        margin: 0px;
        margin-block: 0 !important;
      }
    }
  }
  .profileLink {
    border-bottom: $border solid 1px ;
    margin-bottom: 40pt;
    text-decoration: none;
    ul {
      flex-direction: row;
      text-align: center;
      font-size: 13pt;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;

      li {
        flex-grow: 1;
        a.selected::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

.follow-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  @media only screen and(max-width:$xl){
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and(max-width:$sm){
    grid-template-columns: repeat(1, 1fr);
  }
}