
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');
$primary: #fe0134;
$secondary: #131a2a;
$slate:#3730A3;
$dark:#0E131F;
$border:#38444d;

//Responsive
$sm:640px;
$md:768px;
$lg:1024px;
$xl:1280px;
$xxl:1536px;